@model Cobwebs.ViewModels.ProjectsIndexData

@{
    ViewBag.Title = "Projects";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date Created</th>
            <th>Date Modified</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Projects)
{
    //TODO change id to projectid in routing
    string selectedRow = (item.ID == Model.ProjectID) ? "success" : "";
        <tr class="@selectedRow">
    <a href="@Url.Action("Index", new { projectID = item.ID })">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { projectID = item.ID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
    </a>
        </tr>
}

    </tbody>
</table>

@if (Model.Avatars != null)
{
    <h3>Avatars for selected Project</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Avatar Type</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var avatar in Model.Avatars)
            {
                string selectedRow = (avatar.ID == Model.AvatarID) ? "success" : "";
                <tr class="@selectedRow">
                    <td>@avatar.FullName</td>
                    <td>@avatar.AvatarType</td>
                    <td>
                       @Html.ActionLink("Select", "Index", new { projectID = Model.ProjectID, avatarID = avatar.ID })
                         @*|Edit | Details | Delete*@ 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Notes != null)
{
    <h3>Notes for selected Avatar</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>Created At</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model.Notes)
            {
            <tr>
                <td>@note.Content</td>
                <td>@note.DateCreated</td>
                <td>
                    @*Edit | Details | Delete*@
                </td>
            </tr>
            }
        </tbody>
    </table>
}
